parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getConnection\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getTableStructure\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getPrimaryKey\(\)#' 